<form method="post" action="/animals/check/">
  Name(<%= @a.name %>):<input name="name">
  Spieces(<%= @a.spieces %>):<input name="spieces">
  Age(<%= @a.age %>):<input name="age">
  Smell(<%= @a.smell %>):<input name="smell">
  Snack(<%= @a.fave_snack %>):<input name="snack">
  <input type="submit" value="Create">
</form>
