<h2>Species:<%= @a.spieces %></h2>
<h2>Name:<%= @a.name %></h2>
<h2>Age:<%= @a.age %></h2>
<h2>Eat:<%= @a.fave_snack %></h2>
<h2>Smell:<%= @a.smell %></h2>
<h2>Number of Legs:<%= @a.num_legs %></h2>
<h2>Description:<%= @a.blurb %></h2>
